<div class="row mt-3">
  <div class="col-3">
    <div class="list-group">
      <a
        href="/"
        class="list-group-item list-group-item-action d-flex w-100 justify-content-start align-items-center gap-3"
      >
        <i class="fa-solid fa-gauge"></i>
        <span class="menu-collapsed">Home</span>
      </a>

      <a
        href="/update-profile"
        class="list-group-item list-group-item-action d-flex w-100 justify-content-start align-items-center gap-3"
      >
        <i class="fa-solid fa-user"></i>
        <span class="menu-collapsed">Update profile</span>
      </a>

      <a
        href="/change-password"
        class="list-group-item list-group-item-action active d-flex w-100 justify-content-start align-items-center gap-3"
      >
        <i class="fa-solid fa-lock"></i>
        <span class="menu-collapsed">Change password</span>
      </a>

      <a
        href="/auth/dang-xuat"
        class="list-group-item list-group-item-action d-flex w-100 justify-content-start align-items-center gap-3"
      >
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <span class="menu-collapsed">Logout</span>
      </a>
    </div>
  </div>
  <div class="col-9">
    <h1 class="text-center mb-4">Change password</h1>
    <% if (msg.length) { %>
    <div class="alert alert-success mb-2"><%= msg %></div>
    <% } %> <% if (msgFail.length) { %>
    <div class="alert alert-danger mb-2"><%= msgFail %></div>
    <% } %>
    <form action="" method="post">
      <div class="mb-3">
        <label for="" class="fw-bold">Old Password</label>
        <input
          type="password"
          class="form-control"
          name="oldPassword"
          placeholder="Mật khẩu cũ...."
        />
        <span class="text-danger fst-italic"
          ><%= req.errors.oldPassword %></span
        >
      </div>

      <div class="mb-3">
        <label for="" class="fw-bold">New Password</label>
        <input
          type="password"
          class="form-control"
          name="newPassword"
          placeholder="Mật khẩu mới...."
        />
        <span class="text-danger fst-italic"
          ><%= req.errors.newPassword %></span
        >
      </div>

      <div class="mb-3">
        <label for="" class="fw-bold">Reenter New Password</label>
        <input
          type="password"
          class="form-control"
          name="reenterPassword"
          placeholder="Nhập lại mật khẩu mới...."
        />
        <span class="text-danger fst-italic"
          ><%= req.errors.reenterPassword %></span
        >
      </div>
      <button class="btn btn-primary fw-bold">Save</button>
    </form>
  </div>
</div>
