<div class="row mt-3">
  <div class="col-3">
    <div class="list-group">
      <a
        href="/"
        class="list-group-item list-group-item-action d-flex w-100 justify-content-start align-items-center gap-3"
      >
        <i class="fa-solid fa-gauge"></i>
        <span class="menu-collapsed">Home</span>
      </a>

      <a
        href="/update-profile"
        class="list-group-item list-group-item-action d-flex w-100 justify-content-start align-items-center gap-3"
      >
        <i class="fa-solid fa-user"></i>
        <span class="menu-collapsed">Update profile</span>
      </a>

      <a
        href="/change-password"
        class="list-group-item list-group-item-action d-flex w-100 justify-content-start align-items-center gap-3"
      >
        <i class="fa-solid fa-lock"></i>
        <span class="menu-collapsed">Change password</span>
      </a>

      <a
        href="/manage-device"
        class="list-group-item list-group-item-action active d-flex w-100 justify-content-start align-items-center gap-3"
      >
        <i class="fa-solid fa-list-check"></i>
        <span class="menu-collapsed">Manage Device</span>
      </a>

      <a
        href="/auth/dang-xuat"
        class="list-group-item list-group-item-action d-flex w-100 justify-content-start align-items-center gap-3"
      >
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <span class="menu-collapsed">Logout</span>
      </a>
    </div>
  </div>
  <div class="col-9">
    <h1 class="mb-3 text-center">Manage Device</h1>
    <ul class="list-group list-group-flush mb-3">
      <% devices.forEach((device) => { %>
      <li class="list-group-item d-flex">
        <div class="col-8 d-flex flex-column">
          <h5>Name Device: <%= device.device_type %></h5>
          <span>Os name: <%= device.os_name %></span>
          <span>Client type: <%= device.client_type %></span>
          <span>Client family: <%= device.client_family %></span>
          <span>Login time: <%= device.login_time %></span>
          <span>Last time Login: <%= device.logout_time %></span>
        </div>
        <div class="col-4 my-auto">
          <% if (device.is_login) { %>
          <form
            action="/auth/dang-xuat/<%= device.id %>"
            method="post"
            onsubmit="return confirm('Bạn chắc chắn đăng xuất thiết bị này không?')"
          >
            <button class="btn btn-warning">Logout</button>
          </form>
          <% } else { %>
          <button type="button" class="btn btn-secondary" disabled>
            Logged out
          </button>
          <% } %>
        </div>
      </li>
      <% }) %>
    </ul>
    <p class="text-danger fst-italic">Quản lí thiết bị thông minh</p>
  </div>
</div>
